.footer__link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.footer__link-list:nth-child(odd) {
  gap: 18px;
}

.footer__link-list:first-child {
  padding-left: 0;
}

.footer__link-list:last-child {
  padding-right: 0;
}


@media screen and (max-width: 767px) {
  .footer__link-list {
   flex-direction: column;
  }
  .footer__link-list:nth-child(odd) {
    margin-right: 0;
    margin-left: 0;
    gap: 32px;
  }
}
