.footer__link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.footer__link-list li:nth-child(odd) {
  margin-right: 18px;
  margin-left: 18px;
}

.footer__link-list li:first-child {
  margin-left: 0;
}

.footer__link-list li:last-child {
  margin-right: 0;
}


@media screen and (max-width: 767px) {
  .footer__link-list {
   display: flex;
   flex-direction: column;
  }
  .footer__link-list li:nth-child(odd) {
    margin-right: 0;
    margin-left: 0;
  }
  .footer__link-list > li {
    margin-bottom: 32px;
  }
  .footer__link-list li:last-child {
    margin-bottom: 48px;
  }

}
