.cover__text-block {
  position: absolute;
  top: 245px;
  left: 312px;
}


@media screen and (max-width: 1024px) {
  .cover__text-block {
    top: 195px;
    left: 232px;
  }
}

@media screen and (max-width: 768px) {
  .cover__text-block {
    top: 115px;
    left: 104px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text-block {
    top: 33px;
    left: 16px;
  }
}
