.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  max-width: 1184px;
  padding-top: 92px;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 720px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 288px;
    grid-template-columns: 100%;
    gap: 16px;
  }
}
