.header__lang-list {
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.header__lang-list > li {
  /* display: inline; */
  justify-content: space-between;
}

.header__lang-list li:last-child {
  margin-left: 18px;
}

