.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  width: 484px;
  color: #FFFFFF;
  margin: 0;
}

.place__paragraph:last-child {
  padding-top: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    width: 352px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    width: 288px;
    margin: 0 auto;
  }
}
