.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  flex-basis: 484px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 48px;
}

.place__paragraph:last-child {
  padding-top: 26px;
}
